<blockquote class="quote">
  <p class="quote__text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi ea
    accusamus optio aut ducimus fuga fugit cumque porro aspernatur. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Sapiente voluptates numquam eos
    obcaecati assumenda? Itaque, recusandae exercitationem! Temporibus, a esse
    nesciunt quibusdam laborum reprehenderit? Consequatur vel expedita saepe
    officia qui.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">John Smith</h3>
        <p class="quote__organization">UK Enterprises</p>
      </div>
    </div>
  </footer>
</blockquote>
